* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all {
    background-color: #f7f7f7;
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
}
.header-title {
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1 {
    position: relative;  
    width: 498px;
    height: 51px;
    top: -7px;
    font-family: Lora;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    
}
.h2 {
    width: 504px;
    height: 20px;
    display: block;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.63;
 
}
.navigation_menu {
    height: 74px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}
.navigation-menu-elements, .navigation-menu-elements-footer {
    width: 376px;
    display: flex;
    justify-content: space-evenly;
}
.navigation-menu-elements-footer {
    color: #FFFFFF;
    opacity: 0.6;
}
.elementsOfMenu {
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    display: flex;
}

.escape {
    display: flex;
    width: 92px;
    Height: 26px;
    Top: 3px;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-family: Lora;
}
.escape-footer {
    display: flex;
    opacity: 0.6;
    width: 92px;
    Height: 26px;
    Top: 3px;
    color: #ffffff;
    font-family: Lora;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
}
.main-image img {
    width: 100%;
    height: 100%;
}
.main-text-poz {
    width: 960px;
    height: 1431px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 135px;    
}
.main-text {
    font-family: "Oxygen", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #101315;
}
.footer {
    position: relative;
    z-index: 1;
    height: 90px;
    background-size: 100%;
    background-image: url("images/img-footer.jpg");
    background-repeat: no-repeat;
}
.footer-menu {
    position: relative;
    z-index: 2;
    height: inherit;
    background: linear-gradient(to right, rgba(35, 47, 56, 0.6), rgba(35, 47, 56, 0.6));
    display: flex;
    align-items: center;
}